.container {
  position: relative;
}

.dates {
  display: flex;
  align-items: center;
  color: var(--neutral-1);
  font-weight: 500;
  text-decoration: underline;
}

.date {
  cursor: pointer;
}

.icon {
  display: inline-block;
  margin-right: 8px;
  line-height: 0;
}

.error {
  color: var(--error);
}

.date-picker {
  position: absolute;
  bottom: -10px;
  left: 0;
  transform: translateY(100%);
  background-color: var(--neutral);
  padding: 10px;
  width: 250px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  z-index: 1;
}
