.field {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: auto;
}

.button-close {
  min-width: 0;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}
