.date-range {
  margin-bottom: 10px;
  margin-left: 10px;
}

.content {
  flex: 1;
}

@media (width <= 768px) {
  .content {
    background-color: var(--neutral);
    border-radius: var(--border-radius);
    padding: 14px 24px 24px;
  }

  .date-range {
    margin-bottom: 0;
    margin-left: 0;
  }
}
