.header {
  background-color: var(--primary-1);
  display: flex;
  align-items: center;
  height: 80px;
  padding: 16px 24px;
  font-size: 20px;
  color: var(--neutral);
  font-weight: 500;
}

.logo {
  display: inline-flex;
  line-height: 0;
}

.title {
  display: none;
}

@media (width <= 768px) {
  .logo {
    display: none;
  }

  .title {
    display: block;
  }
}
