.button {
  border: none;
  background: none;
  height: 50px;
  width: 150px;
  display: block;
  border-bottom: 1px solid var(--neutral-6);
}

.button:first-child {
  border-top: 1px solid var(--neutral-6);
}
