.sidebar {
  width: 325px;
  background-color: var(--neutral);
  padding: 15px 20px 18px;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  right: 0;
  z-index: 10;
  overflow-y: auto;
}

.sidebar form {
  min-height: 100%;
}
