.sidebar {
  width: 325px;
  background-color: var(--neutral);
  padding: 15px 20px 18px;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  right: 0;
  z-index: 10;
  overflow-y: auto;
  animation: slice-right 0.3s ease;
}

@media (width <= 768px) {
  .sidebar {
    width: 100%;
    border-radius: var(--border-radius);
    position: relative;
    top: 0;
    height: auto;
    flex: 1;
  }
}

@keyframes slice-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}
